#dd1{
    border: 1px solid;
    border-width: 2px;
    width: 35%;
}
#btn1{
    width: 150px;
    height: 20px;
}
#dd3{
    border: 1px solid;
    border-width: 2px;
    width: 15%;
}
#dd4{
    border: 1px solid;
    border-width: 2px;
    width: 15%;
}
#dd5{
    border: 1px solid;
    border-width: 2px;
    width: 15%;
}